<!-- Ch 4, exercise 2 -->

<p>
  The request included the following:
</p>

<ul>
  <li><b>Request method:</b> <%= request_method %></li>
  <li><b>Path info:</b> <%= path_info %></li>
  <li><b>User agent:</b> <%= user_agent %></li>
</ul>
